@charset "UTF-8";
html {
  background: transparent;
  font-size: 100%;
}

body {
  background: #f7f7f7f7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,'Yu Gothic', Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: .01em;
  line-height: 1.6;
  overflow-x: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body:before {
  -webkit-text-stroke: 1px #999;
  color: transparent;
  content: "NEXT";
  font-size: 10em;
  font-weight: 700;
  left: 50%;
  opacity: .2;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

img {
  vertical-align: bottom;
  width: 100%;
}

*, ::before, ::after {
  border-style: solid;
  border-width: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.15;
}

body {
  margin: 0;
}

main {
  display: block;
}

p, table, blockquote, address, pre, iframe, form, figure, dl {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

hr {
  border-top-width: 1px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  clear: both;
  color: inherit;
  height: 0;
  margin: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: inherit;
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img, embed, object, iframe {
  vertical-align: bottom;
}

button, input, optgroup, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  border-radius: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: inherit;
  vertical-align: middle;
}

[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  cursor: pointer;
}

button[disabled], [type="button"][disabled], [type="reset"][disabled], [type="submit"][disabled] {
  cursor: default;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

select::-ms-expand {
  display: none;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  min-width: 0;
  padding: 0;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable] {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td {
  padding: 0;
  vertical-align: top;
}

th {
  font-weight: bold;
  padding: 0;
  text-align: left;
  vertical-align: top;
}

template, [hidden] {
  display: none;
}

.bgextend {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: bgextendAnimeBase;
          animation-name: bgextendAnimeBase;
  opacity: 0;
  overflow: hidden;
  position: relative;
}

@-webkit-keyframes bgextendAnimeBase {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bgextendAnimeBase {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgappear {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: bgextendAnimeSecond;
          animation-name: bgextendAnimeSecond;
  opacity: 0;
}

@-webkit-keyframes bgextendAnimeSecond {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bgextendAnimeSecond {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bgLRextend::before {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: bgLRextendAnime;
          animation-name: bgLRextendAnime;
  background: #00c9e8;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

@-webkit-keyframes bgLRextendAnime {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50.001% {
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@keyframes bgLRextendAnime {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50.001% {
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

.bgappearTrigger, .bgLRextendTrigger {
  opacity: 0;
}

.border {
  background: #333;
  height: 1px;
  margin-left: 10px;
  max-width: 100%;
  width: 80px;
}

.drawer-hamburger {
  display: none;
  top: 20px;
}

.drawer-nav ul {
  margin-top: 120px;
}

.drawer-nav ul li a {
  display: block;
  font-weight: bold;
  padding: .80rem;
  position: relative;
}

.drawer-nav ul li a::after {
  background: #00c9e8;
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 0;
  z-index: -1;
}

.drawer-nav ul li a:hover::after {
  opacity: 1;
  width: 100%;
}

.drawer-nav ul li a:hover {
  color: #fff;
}

.drawer-menu {
  height: 100%;
  margin: auto 0;
  text-align: center;
}

.inner {
  margin: 0 auto;
  padding: 0 50px;
  width: 100%;
}

.link a {
  background: #ffffff;
  border: solid 1px #333;
  color: #333333;
  display: inline-block;
  line-height: 1em;
  padding: 20px 0;
  text-align: center;
  width: 120px;
}

.footer {
  margin-top: 70px;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__small small {
  font-size: 0.625rem;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu a {
  font-size: 0.75rem;
  margin-right: 20px;
}

.header__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  padding-top: 30px;
}

.header__nav ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav ul li {
  margin-right: 10px;
}

.header__nav ul li:last-child {
  margin-right: 0;
}

.header__nav ul li a {
  color: #333;
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 3.5em;
  padding: 0 20px;
  position: relative;
}

.header__nav ul li a::after {
  background: #00c9e8;
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 0;
  z-index: -1;
}

.header__nav ul li a:hover::after {
  opacity: 1;
  width: 100%;
}

.header__nav ul li a:hover {
  color: #fff;
}

.main {
  display: block;
}

.about {
  margin-top: 200px;
}

.about__contents {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__info {
  margin: 0 auto;
  padding: 0 30px;
  width: 50%;
}

.about__title {
  padding-bottom: 20px;
  position: relative;
}

.about__title::after {
  background: #333;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 180px;
}

.about__title h2 {
  font-size: 3.28125vw;
  font-weight: bold;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.about__text {
  margin-top: 50px;
}

.about__text p {
  font-size: 0.9375rem;
  font-weight: bold;
  line-height: 2.2em;
}

.about__img {
  background-image: url("../img/about.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 50%;
}

.business {
  margin-top: 200px;
  position: relative;
}

.business::before {
  background: #f7f7f7f7;
  content: "";
  height: 1300px;
  position: absolute;
  right: 0;
  top: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 70%;
  z-index: -1;
}

.business::after {
  color: #00c9e8;
  content: "BUSINESS";
  font-size: 15rem;
  font-weight: bold;
  left: 0;
  opacity: .3;
  position: absolute;
  top: 20%;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  z-index: -1;
}

.business__title h2 {
  font-size: 4rem;
  font-weight: bold;
  text-align: end;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.business__title p {
  font-weight: bold;
}

.business__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.business__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.business__item p {
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 2.4em;
  padding: 0 70px;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 50%;
}

.business__img {
  width: 50%;
}

.business__link {
  margin-right: 60px;
  text-align: end;
}

.business__link a {
  border: 1px solid #333;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 3.5em;
  padding: 0 40px;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.business__link a::after {
  background: #00c9e8;
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 0;
  z-index: -1;
}

.business__link a:hover::after {
  opacity: 1;
  width: 100%;
}

.business__link a:hover {
  border: 1px #fff solid;
  color: #fff;
}

.career {
  margin-top: 500px;
  position: relative;
}

.career::before {
  background-image: url("../img/career.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 440px;
  position: absolute;
  right: 0;
  top: -390px;
  width: 80%;
  z-index: -1;
}

.career__wrap {
  text-align: end;
}

.career__title {
  display: inline-block;
}

.career__title h2 {
  font-size: 4rem;
  font-weight: bold;
  text-align: end;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.career__text {
  margin-left: auto;
  margin-top: 30px;
  width: 50%;
}

.career__text p {
  font-size: 0.9375rem;
  font-weight: bold;
  line-height: 2.4em;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.career__link {
  margin-top: 30px;
  text-align: end;
}

.career__link a {
  border: 1px solid #333;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 3.5em;
  padding: 0 40px;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.career__link a::after {
  background: #00c9e8;
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 0;
  z-index: -1;
}

.career__link a:hover::after {
  opacity: 1;
  width: 100%;
}

.career__link a:hover {
  border: 1px #fff solid;
  color: #fff;
}

.hero {
  height: 620px;
  position: relative;
}

.hero h1 {
  color: #00c9e8;
  font-size: 14.0625vw;
  font-weight: bold;
  position: absolute;
  right: -5%;
  text-align: center;
  top: 39%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  vertical-align: middle;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.hero__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__wrapper {
  margin-top: 100px;
}

.hero__text p {
  color: #333;
  font-size: 1.125rem;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hero__title {
  margin-bottom: 20px;
}

.hero__title h2 {
  color: #333;
  font-size: 3.90625vw;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hero__title h2 span {
  display: inline-block;
  overflow: hidden;
}

.news {
  margin-top: 700px;
  position: relative;
}

.news::before {
  background-image: url("../img/news.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 440px;
  position: absolute;
  top: -390px;
  width: 80%;
  z-index: -1;
}

.news__wrap {
  text-align: center;
}

.news__title {
  display: inline-block;
}

.news__title h2 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.news__info {
  color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.news__info time {
  margin-right: 20px;
}

.news__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 100px;
}

.news__item {
  margin-right: 24px;
  margin-top: 24px;
  width: calc(33.33333333% - 24px * 2 / 3);
}

.news__item:nth-child(3n) {
  margin-right: 0;
}

.news__img {
  width: 100%;
}

.news__meta {
  margin-top: 20px;
}

.news__desc {
  margin-top: 20px;
}

.news__desc p {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.7em;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.news__link {
  margin-top: 30px;
  text-align: end;
}

.news__link a {
  border: 1px solid #333;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 3.5em;
  padding: 0 40px;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.news__link a::after {
  background: #00c9e8;
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 0;
  z-index: -1;
}

.news__link a:hover::after {
  opacity: 1;
  width: 100%;
}

.news__link a:hover {
  border: 1px #fff solid;
  color: #fff;
}

.vision {
  margin-top: 150px;
  position: relative;
}

.vision::before {
  background: #f7f7f7f7;
  content: "";
  height: 1300px;
  position: absolute;
  top: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 70%;
  z-index: -1;
}

.vision::after {
  color: #00c9e8;
  content: "VISION";
  font-size: 15rem;
  font-weight: bold;
  opacity: .3;
  position: absolute;
  right: 0;
  top: 40%;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  z-index: -1;
}

.vision__title h2 {
  font-size: 4rem;
  font-weight: bold;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.vision__items {
  margin-top: 70px;
}

.vision__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.vision__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.vision__item p {
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 2.4em;
  padding: 0 70px;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 50%;
}

.vision__img {
  width: 50%;
}

.vision__link {
  margin-left: 50px;
}

.vision__link a {
  border: 1px solid #333;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 3.5em;
  padding: 0 40px;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.vision__link a::after {
  background: #00c9e8;
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 0;
  z-index: -1;
}

.vision__link a:hover::after {
  opacity: 1;
  width: 100%;
}

.vision__link a:hover {
  border: 1px #fff solid;
  color: #fff;
}

.business-page {
  position: relative;
}

.business-page:before {
  color: transparent;
  color: #00c9e8;
  content: "BUSINESS";
  font-size: 6em;
  font-weight: 700;
  left: 90%;
  opacity: .2;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.business-page__contents {
  margin-top: 100px;
}

.business-page__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.business-page__title h1 {
  font-size: 3.125rem;
  font-weight: bold;
}

.business-page__wrap {
  margin-top: 100px;
}

.business-page__sub-title h2 {
  font-size: 1.625rem;
  font-weight: bold;
}

.business-page__sub-title h2 span {
  display: inline-block;
}

.business-page__read {
  margin: 50px auto 0 auto;
  width: 90%;
}

.business-page__read p {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 2.2em;
}

.business-page__content {
  margin: 200px auto 0 auto;
  width: 90%;
}

.career-page {
  position: relative;
}

.career-page:before {
  color: transparent;
  color: #00c9e8;
  content: "CAREER";
  font-size: 6em;
  font-weight: 700;
  left: 90%;
  opacity: .2;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.career-page__contents {
  margin-top: 100px;
}

.career-page__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.career-page__title h1 {
  font-size: 3.125rem;
  font-weight: bold;
}

.career-page__wrap {
  margin-top: 100px;
}

.career-page__subtitle h2 {
  font-size: 1.625rem;
  font-weight: bold;
}

.career-page__subtitle h2 span {
  display: inline-block;
}

.career-page__text {
  margin-top: 50px;
  width: 50%;
}

.career-page__text p {
  font-size: 0.9375rem;
  font-weight: bold;
  line-height: 2.2em;
}

.career-page__items {
  margin: 100px auto;
  padding: 0 40px;
  width: 80%;
}

.career-page__item {
  border-top: 1px solid #555;
  padding: 50px 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.career-page__item a h3 {
  font-size: 1.125rem;
  font-weight: bold;
}

.career-page__item:hover {
  background: #00c9e8;
  border: none;
  color: #fff;
  font-weight: bold;
}

.career-page__item:last-child {
  border-bottom: 1px solid #555;
}

.career-page__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.career-page__tag p {
  font-size: 0.75rem;
  margin-right: 10px;
}

.career-page__tag p:last-child {
  margin-right: 0%;
}

.career-page__desc {
  margin-top: 20px;
}

.career-page__desc p {
  font-size: 0.875rem;
  line-height: 1.8em;
}

.company-page {
  position: relative;
}

.company-page:before {
  color: transparent;
  color: #00c9e8;
  content: "COMPANY";
  font-size: 6em;
  font-weight: 700;
  left: 90%;
  opacity: .2;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.company-page__contents {
  margin-top: 100px;
}

.company-page__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.company-page__title h1 {
  font-size: 3.125rem;
  font-weight: bold;
}

.company-page__wrap {
  margin-top: 70px;
}

.company-page__table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 60px;
  width: 100%;
}

.company-page__table tr {
  border-bottom: solid 1px #dddddd;
}

.company-page__table tr th {
  padding: 30px 10px;
}

.company-page__table tr td {
  padding: 30px 10px;
}

.contact-page {
  position: relative;
}

.contact-page:before {
  color: transparent;
  color: #00c9e8;
  content: "CONTACT";
  font-size: 6em;
  font-weight: 700;
  left: 90%;
  opacity: .2;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.contact-page__contents {
  margin-top: 100px;
}

.contact-page__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-page__title h1 {
  font-size: 3.125rem;
  font-weight: bold;
}

.contact-page__wrap {
  margin-top: 70px;
}

.news-page {
  position: relative;
}

.news-page:before {
  color: transparent;
  color: #00c9e8;
  content: "NEWS";
  font-size: 6em;
  font-weight: 700;
  left: 90%;
  opacity: .2;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.news-page__contents {
  margin-top: 100px;
}

.news-page__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-page__title h1 {
  font-size: 3.125rem;
  font-weight: bold;
}

.news-page__wrap {
  margin-top: 100px;
}

.news-page__info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
  margin-right: 60px;
  opacity: .7;
}

.news-page__info time {
  margin-right: 40px;
}

.news-page__items {
  background: #fff;
  margin: 0 auto;
  opacity: .7;
  width: 95%;
}

.news-page__item {
  border-top: 1px solid #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.news-page__item:last-child {
  border-bottom: 1px solid #999;
}

.news-page__text a {
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 3.5em;
  padding: 0 20px;
  position: relative;
}

.news-page__text a::after {
  background: #00c9e8;
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 0;
  z-index: -1;
}

.news-page__text a:hover::after {
  opacity: 1;
  width: 100%;
}

.news-page__text a:hover {
  color: #fff;
}

.page-page h1 {
  font-size: 3.125rem;
  font-weight: bold;
}

.page-page p {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.page-page__contents {
  margin-top: 100px;
}

.page-page__wrap {
  margin-top: 100px;
}

.single {
  position: relative;
}

.single::before {
  background: #f7f7f7f7;
  content: "";
  height: 40vh;
  position: absolute;
  width: 90%;
  z-index: -1;
}

.single__contents {
  margin-top: 100px;
}

.single__title h1 {
  font-size: 1.875rem;
  font-weight: bold;
}

.single__wrap {
  margin: 100px 0;
}

.single__sub-title h2 {
  font-size: 2rem;
  font-weight: bold;
}

.single__info {
  color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.75rem;
  margin-top: 30px;
}

.single__info time {
  margin-right: 20px;
}

.single__read {
  margin: 50px auto 0 auto;
  padding: 0 150px;
}

.single__read p {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.single__link {
  border-top: 1px solid #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.75rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.single__prev {
  color: #333;
  display: inline-block;
  padding-left: 20px;
  position: relative;
}

.single__next {
  color: #333;
  display: inline-block;
  padding-right: 20px;
  position: relative;
}

.vision-page {
  position: relative;
}

.vision-page:before {
  color: transparent;
  color: #00c9e8;
  content: "VISION";
  font-size: 6em;
  font-weight: 700;
  left: 90%;
  opacity: .2;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.vision-page__contents {
  margin-top: 100px;
}

.vision-page__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vision-page__title h1 {
  font-size: 3.125rem;
  font-weight: bold;
}

.vision-page__wrap {
  margin-top: 100px;
}

.vision-page__sub-title h2 {
  font-size: 1.625rem;
  font-weight: bold;
}

.vision-page__sub-title h2 span {
  display: inline-block;
}

.vision-page__read {
  margin: 50px auto 0 auto;
  width: 90%;
}

.vision-page__read p {
  font-size: 0.9375rem;
  font-weight: bold;
  line-height: 2.2em;
}

@media only screen and (max-width: 1023px) {
  /* tab-size */
  .business {
    margin-top: 400px;
  }
  .business::before {
    height: 900px;
  }
  .business::after {
    font-size: 15.625vw;
  }
  .business__title h2 {
    font-size: 5.625vw;
  }
  .business__item p {
    font-size: 1.5625vw;
    padding: 0 40px;
  }
  .career::before {
    height: 300px;
    top: -250px;
  }
  .career__text p {
    font-size: 1.5625vw;
    line-height: 2.2em;
  }
  .hero__text p {
    font-size: 1.5625vw;
  }
  .hero__title h2 {
    font-size: 3.125vw;
  }
  .news {
    margin-top: 600px;
  }
  .news::before {
    height: 300px;
    top: -250px;
  }
  .news__info {
    font-size: 0.75rem;
  }
  .news__item {
    margin-bottom: 40px;
    width: calc(50% - 24px * 1 / 2);
  }
  .news__item:nth-child(2n) {
    margin-right: 0;
  }
  .news__item:nth-child(3n) {
    margin-right: 24px;
  }
  .news__desc {
    margin-top: 10px;
  }
  .news__desc p {
    font-size: 0.75rem;
    line-height: 1.8em;
  }
  .vision::before {
    height: 900px;
  }
  .vision::after {
    font-size: 15.625vw;
  }
  .vision__title h2 {
    font-size: 5.625vw;
  }
  .vision__item p {
    font-size: 1.5625vw;
    padding: 0 40px;
  }
  .business-page__sub-title h2 {
    font-size: 1.6875rem;
    text-align: center;
  }
  .business-page__read {
    margin: 100px auto 0 auto;
  }
  .career-page__subtitle h2 {
    font-size: 1.6875rem;
    text-align: center;
  }
  .career-page__text {
    width: 100%;
  }
  .career-page__text p {
    font-size: 0.9375rem;
    line-height: 2.3em;
  }
  .career-page__items {
    padding: 0;
    width: 100%;
  }
  .career-page__desc p {
    font-size: 0.75rem;
    line-height: 1.9em;
  }
  .company-page__wrap {
    margin-top: 60px;
  }
  .company-page__table tr {
    font-size: 0.8125rem;
  }
  .contact-page__wrap {
    margin-top: 60px;
  }
  .news-page__info {
    font-size: 0.75rem;
  }
  .news-page__text a {
    font-size: 0.75rem;
    padding: 0;
  }
  .page-page p {
    font-size: 0.9375rem;
  }
  .single__sub-title h2 {
    font-size: 1.75rem;
  }
  .single__read {
    margin: 70px auto 0 auto;
    padding: 0 100px 0 0;
  }
  .single__read p {
    font-size: 0.9375rem;
  }
  .vision-page__sub-title h2 {
    font-size: 1.6875rem;
    text-align: center;
  }
  .vision-page__read {
    margin: 70px auto 0 auto;
    width: 85%;
  }
  .vision-page__read p {
    line-height: 2.4em;
  }
}

@media only screen and (max-width: 767px) {
  /* sp-size */
  .border {
    display: none;
    margin: 0;
  }
  .drawer-hamburger {
    display: block;
  }
  .inner-s {
    margin: 0 auto;
    padding: 0 30px;
    width: 100%;
  }
  .footer__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .footer__small {
    margin-top: 60px;
  }
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__menu a {
    font-size: 0.625rem;
    margin-bottom: 15px;
    margin-right: 0;
  }
  .header__nav {
    display: none;
  }
  .about__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__info {
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .about__title::after {
    width: 0;
  }
  .about__title h2 {
    font-size: 6.25vw;
  }
  .about__text {
    margin-top: 20px;
  }
  .about__text p {
    font-size: 0.9375rem;
  }
  .about__img {
    height: 40vh;
    margin-top: 50px;
    width: 150%;
  }
  .business__title h2 {
    text-align: center;
  }
  .business__items {
    margin-top: 70px;
  }
  .business__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .business__item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .business__item p {
    font-size: 0.875rem;
    line-height: 2.2em;
    margin-top: 30px;
    padding: 0;
    width: 100%;
  }
  .business__img {
    width: 100%;
  }
  .business__link {
    margin-right: 0;
    text-align: center;
  }
  .business__link a {
    font-size: 0.8125rem;
  }
  .career__wrap {
    text-align: center;
  }
  .career__text {
    margin: 70px auto 0 auto;
    width: 80%;
  }
  .career__text p {
    font-size: 0.9375rem;
    line-height: 2.4em;
    text-align: center;
  }
  .career__link {
    margin-top: 70px;
    text-align: center;
  }
  .career__link a {
    font-size: 0.8125rem;
  }
  .hero h1 {
    font-size: 19.53125vw;
    left: 50%;
    opacity: .5;
    right: 0;
    top: 50%;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    z-index: -1;
  }
  .hero__wrapper {
    margin: 140px auto 0 auto;
  }
  .hero__text p {
    font-size: 3.125vw;
    text-align: center;
  }
  .hero__title h2 {
    font-size: 5.85938vw;
    text-align: center;
  }
  .news__item {
    margin-bottom: 50px;
    margin-right: 0;
    width: 100%;
  }
  .news__item:nth-child(3n) {
    margin-right: 0;
  }
  .news__link {
    margin-top: 70px;
    text-align: center;
  }
  .news__link a {
    font-size: 0.8125rem;
  }
  .vision__title h2 {
    text-align: center;
  }
  .vision__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .vision__item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .vision__item p {
    font-size: 0.875rem;
    line-height: 2.2em;
    margin-top: 30px;
    padding: 0;
    width: 100%;
  }
  .vision__img {
    width: 100%;
  }
  .vision__link {
    margin-left: 0;
    text-align: center;
  }
  .vision__link a {
    font-size: 0.8125rem;
  }
  .business-page__title h1 {
    text-align: center;
  }
  .business-page__sub-title h2 {
    font-size: 1.375rem;
    text-align: center;
  }
  .business-page__read {
    margin: 50px auto 0 auto;
    width: 100%;
  }
  .business-page__read p {
    font-size: 0.8125rem;
    line-height: 2.3em;
  }
  .career-page__title h1 {
    text-align: center;
  }
  .career-page__subtitle h2 {
    font-size: 1.375rem;
    text-align: center;
  }
  .career-page__text p {
    font-size: 0.8125rem;
    line-height: 2.5em;
  }
  .career-page__desc p {
    font-size: 0.8125rem;
    line-height: 2em;
  }
  .company-page__title h1 {
    text-align: center;
  }
  .company-page__wrap {
    margin-top: 50px;
  }
  .company-page__table tr {
    font-size: 0.6875rem;
  }
  .company-page__table tr td {
    text-align: center;
  }
  .contact-page__title h1 {
    text-align: center;
  }
  .contact-page__wrap {
    margin-top: 50px;
  }
  .news-page__title h1 {
    text-align: center;
  }
  .news-page__info {
    font-size: 0.625rem;
  }
  .news-page__info time {
    margin-right: 20px;
  }
  .news-page__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 10px;
  }
  .page-page h1 {
    text-align: center;
  }
  .page-page p {
    font-size: 0.8125rem;
    line-height: 2.3em;
  }
  .single__title h1 {
    font-size: 1.25rem;
  }
  .single__sub-title h2 {
    font-size: 1.375rem;
    text-align: center;
  }
  .single__info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 0;
    margin-top: 40px;
  }
  .single__read {
    margin: 50px auto 0 auto;
    padding: 0;
  }
  .single__read p {
    font-size: 0.8125rem;
    line-height: 2.3em;
    text-align: center;
  }
  .single__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 0.6875rem;
    padding-top: 20px;
    text-align: center;
  }
  .single__prev {
    margin-top: 20px;
  }
  .single__next {
    margin-top: 20px;
  }
  .vision-page__title h1 {
    text-align: center;
  }
  .vision-page__sub-title h2 {
    font-size: 1.375rem;
    text-align: center;
  }
  .vision-page__read {
    margin: 50px auto 0 auto;
    padding: 0;
    width: 100%;
  }
  .vision-page__read p {
    font-size: 0.8125rem;
    line-height: 2.5em;
  }
}


.form__wrap {
  width: 100%;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}
.wpcf7 .template01 {
  color: #333;
  font-size: 16px;
}
.wpcf7 .template01 a {
  margin: 0;
  padding: 0;
  text-decoration: underline;
  color: inherit;
  transition: opacity .25s;
}
.wpcf7 .template01 a:hover {
  opacity: .5;
  transition: opacity .25s;
}
.wpcf7 .template01 div.form__row {
  margin: 0;
  padding: 0;
  margin-top: 2em;
}
.wpcf7 .template01 div.form__row.row-privacy {
  margin-top: 3.5em;
  text-align: center;
}
.wpcf7 .template01 div.form__row.row-submit {
  margin-top: 3em;
  text-align: center;
}
.wpcf7 .template01 p.form__label,
.wpcf7 .template01 p.form__body {
  margin: 0;
  margin-bottom: .5em;
  padding: 0;
  box-sizing: border-box;
}
.wpcf7 .template01 p.form__label label {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wpcf7 .template01 p.form__label.is-required label {
  padding-right: 40px; 
}
.wpcf7 .template01 p.form__label.is-required label::after {
  content: "必須";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  padding: 0 5px;
  background-color: #eb1919;
  color: #fff;
  font-size: 11px;
  text-align: center;
  box-sizing: border-box;
}

.wpcf7 .template01 input[type=text],
.wpcf7 .template01 input[type=tel],
.wpcf7 .template01 input[type=email],
.wpcf7 .template01 input[type=url],
.wpcf7 .template01 input[type=date],
.wpcf7 .template01 input[type=number],
.wpcf7 .template01 textarea {
  width: 100%;
  margin: 0;
  padding: .5em 1em;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wpcf7 .template01 input[type=text]::placeholder,
.wpcf7 .template01 input[type=tel]::placeholder,
.wpcf7 .template01 input[type=email]::placeholder,
.wpcf7 .template01 input[type=url]::placeholder,
.wpcf7 .template01 input[type=date]::placeholder,
.wpcf7 .template01 input[type=number]::placeholder,
.wpcf7 .template01 textarea::placeholder {
  color: #ccc;
}
.wpcf7 .template01 input[type=text]:-ms-input-placeholder,
.wpcf7 .template01 input[type=tel]:-ms-input-placeholder,
.wpcf7 .template01 input[type=email]:-ms-input-placeholder,
.wpcf7 .template01 input[type=url]:-ms-input-placeholder,
.wpcf7 .template01 input[type=date]:-ms-input-placeholder,
.wpcf7 .template01 input[type=number]:-ms-input-placeholder,
.wpcf7 .template01 textarea:-ms-input-placeholder {
  color: #ccc;
}
.wpcf7 .template01 input[type=text]::-ms-input-placeholder,
.wpcf7 .template01 input[type=tel]::-ms-input-placeholder,
.wpcf7 .template01 input[type=email]::-ms-input-placeholder,
.wpcf7 .template01 input[type=url]::-ms-input-placeholder,
.wpcf7 .template01 input[type=date]::-ms-input-placeholder,
.wpcf7 .template01 input[type=number]::-ms-input-placeholder,
.wpcf7 .template01 textarea::-ms-input-placeholder {
  color: #ccc;
}

.wpcf7 .template01 input[type=text]:focus,
.wpcf7 .template01 input[type=tel]:focus,
.wpcf7 .template01 input[type=email]:focus,
.wpcf7 .template01 input[type=url]:focus,
.wpcf7 .template01 input[type=date]:focus,
.wpcf7 .template01 input[type=number]:focus,
.wpcf7 .template01 textarea:focus {
  outline: 0;
  border: 1px #080808 solid;
}

.wpcf7 .template01 input[type=checkbox] {
  display: none;
}
.wpcf7 .template01 input[type=checkbox] + span {
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0 1em 0 1.8em;
  font-size: inherit;
  box-sizing: border-box;
  transition: opacity .25s ease;
}
.wpcf7 .template01 input[type=checkbox] + span::before {
  content: "";
  opacity: 1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.24em;
  height: 1.24em;
  border: 1px solid #ccc;
  border-radius: 0;
  background-color: #fff;
  box-sizing: border-box;
  transition: opacity .25s ease;
  z-index: 1;
}
.wpcf7 .template01 input[type=checkbox] + span::after {
  content: "";
  opacity: 0;
  display: block;
  position: absolute;
  top: 0.15em;
  left: 0.44em;
  width: 0.4em;
  height: .8em;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  box-sizing: border-box;
  transform: rotate(40deg);
  transition: opacity .25s ease;
  z-index: 10;
}
.wpcf7 .template01 input[type=checkbox]:checked + span {
  color: #306ad4;
  transition: all .25s ease;
}
.wpcf7 .template01 input[type=checkbox]:checked + span::before {
  opacity: 1;
  transition: opacity .25s ease;
}
.wpcf7 .template01 input[type=checkbox]:checked + span::after {
  opacity: 1;
  border-bottom: 2px solid #306ad4;
  border-right: 2px solid #306ad4;
  transition: opacity .25s ease;
}

.wpcf7 .template01 input[type=radio] {
  display: none;
}
.wpcf7 .template01 input[type=radio] + span {
  cursor: pointer;
  position: relative;
  margin: 0; 
  padding: 0 1em 0 1.8em;
  font-size: inherit;
  transition: opacity .25s ease;
}
.wpcf7 .template01 input[type=radio] + span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  transition: opacity .25s ease;
}
.wpcf7 .template01 input[type=radio] + span::after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  box-sizing: border-box;
  transition: opacity .25s ease;
}
.wpcf7 .template01 input[type=radio]:checked + span {
  color: #306ad4;
  transition: opacity .25s ease;
}
.wpcf7 .template01 input[type=radio]:checked + span::after {
  opacity: 1;
  top: .2em;
  left: .2em;
  width: .6em;
  height: .6em;
  background-color: #306ad4;
  border-radius: 50%;
  box-sizing: border-box;
  transition: opacity .25s ease;
}

.wpcf7 .template01 span.select-wrap {
  position: relative;
  width: 250px;
  margin: 0;
  padding: 0;
}
.wpcf7 .template01 select {
  cursor: pointer;
  width: 250px;
  max-width: 100%;
  margin: 0;
  padding: .5em 2.5em .5em 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
  background-color: #fff;
  color: inherit;
  font-size: inherit;
  line-height: 1;
  box-sizing: border-box;
  transition: border-color 0.2s ease, outline 0.2s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.wpcf7 .template01 select::-ms-expand {
  display: none;
}
.wpcf7 .template01 span.select-wrap::after {
  content: "";
  pointer-events: none;
  position: absolute;
  display: block;
  width: .6em;
  height: .6em;
  top: 50%;
  right: 1em;
  margin-top: -3px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: 50% 0;
  box-sizing: border-box;
}
.wpcf7 .template01 select:focus {
  outline: 0;
  border: 1px #080808 solid;
}
.wpcf7 .template01 span.select-wrap:focus-within::after {
  border-bottom: 1px solid #080808;
  border-right: 1px solid #080808;
}

.wpcf7 .template01 .submit-btn {
  position: relative;
  width: 320px;
  height: 65px;
  max-width: 100%;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.wpcf7 .template01 input[type="submit"] {
  cursor: pointer;
  width: 320px;
  max-width: 100%;
  padding: 18px;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  text-align: center;
  box-sizing: border-box;
  transition: opacity .25s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.wpcf7 .template01 input[type="submit"]:disabled {
  cursor: not-allowed;
  box-shadow: none!important;
  border: 1px solid #f8f8f8!important;
  background-color: #f8f8f8!important;
  color: #999!important;
}
.wpcf7 .template01 input[type="submit"]:hover {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  transition: opacity .25s, background-color .25s;
}
.wpcf7 .template01 input[type="submit"]:focus {
  outline: 1px #eee solid;
  border: 1px #080808 solid;
}
.wpcf7 .template01  span.wpcf7-list-item {
  margin: 0 1em .2em 0;
}
.wpcf7 .template01 .ajax-loader {
  display: block;
}
@media only screen and (max-width: 768px) {
  .wpcf7 .template01 span.wpcf7-list-item {
    display: block;
  }
}