.footer{
    margin-top: 50px;
    padding-top: 60px;
    padding-bottom: 60px;

    &__contents{
        display: flex;
    }

    &__small{
        small{
            font-size: rem(10);
        }
    }

    &__menu{
        margin-left: auto;

        a{
            font-size: rem(12);
            margin-right: 20px;

            @include mq("sp"){
                font-size: rem(10);
            }

            &:last-child{
                margin-right: 0;
            }
        }
    }
}