.contact-page{
    position: relative;
    
    &:before{
        content: "CONTACT";
        position: fixed;
        top: 50%;
        left: 90%;
        transform: translate(-50%,-50%);
        font-size: 6em;
        color: transparent;
        font-weight: 700;
        opacity: .2;
        color: #00c9e8;
        writing-mode: vertical-lr;
    }

    &__contents{
        margin-top: 100px;
    }

    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: rem(50);
            font-weight: bold;

            @include mq("sp"){
                text-align: center;
            }
        }
    }

    &__wrap{
        margin-top: 70px;

        @include mq("tab"){
            margin-top: 60px;
        }

        @include mq("sp"){
            margin-top: 50px;
        }
    }
}