.news-page{
    position: relative;

    &::before{
        position: absolute;
        content: "";
        background: #f7f7f7f7;
        width: 70%;
        height: 100vh;
        z-index: -1;
    }

    &::after{
        content: "NEWS";
        font-size: rem(240);
        font-weight: bold;
        writing-mode: vertical-lr;
        position: absolute;
        z-index: -1;
        opacity: .1;
        top: 0;
        right: 0;
    }

    &__contents{
        margin-top: 100px;
    }

    &__title{
        h1{
            font-size: rem(50);
            font-weight: bold;

            @include mq("sp"){
                text-align: center;
            }
        }
    }

    &__wrap{
        margin-top: 100px;
    }

    &__info{
        margin-right: 60px;
        display: flex;
        align-items: center;
        opacity: .7;

        time{
            margin-right: 10px;
            font-size: rem(14);

            @include mq("tab"){
                font-size: rem(12);
            }

            @include mq("sp"){
                font-size: rem(10);
            }
        }

        span{
            font-size: rem(14);

            @include mq("tab"){
                font-size: rem(12);
            }

            @include mq("sp"){
                font-size: rem(10);
            }
        }
    }

    &__items{
        width: 95%;
        margin: 0 auto;
        background: #fff;
        opacity: .7;
    }

    &__item{
        display: flex;
        padding: 30px 20px;
        border-top: 1px solid #999;
        transition: all .3s;

        @include mq("sp"){
            flex-direction: column;
            padding: 20px 10px;
        }

        &:last-child{
            border-bottom: 1px solid #999;
        }
    }

    &__text{
        a{
            display: block;
            position: relative;
            line-height: 3.5em;
            font-size: rem(14);
            font-weight: bold;
            padding: 0 20px;

            @include mq("tab"){
                font-size: rem(12);
                padding: 0;
            }

            &::after{
                content: '';
                position: absolute;
                z-index: -1;
                bottom: 0;
                left: 0;
                width: 0;
                height:100%;
                background:#00c9e8;
                transition:all .5s;
                opacity: 0;
            }

            &:hover::after{
                width: 100%;
                opacity: 1;
            }

            &:hover{
                color: #fff;
            }
        }
    }
}