.page-page{

    h1{
        font-size: rem(50);
        font-weight: bold;

        @include mq("sp"){
            text-align: center;
        }
    }

    p{
        font-size: rem(16);
        font-weight: bold;
        margin-bottom: 20px;

            @include mq("tab"){
                font-size: rem(15);
            }

            @include mq("sp"){
                font-size: rem(13);
                line-height: 2.3em;
            }
    }

    &__contents{
        margin-top: 100px;
    }

    &__wrap{
        margin-top: 100px;
    }
}