.vision-page{
    position: relative;

    &::before{
        position: absolute;
        content: "";
        background: #f7f7f7f7;
        width: 70%;
        height: 170vh;
        z-index: -1;
    }

    &::after{
        content: "VISION";
        font-size: rem(240);
        font-weight: bold;
        writing-mode: vertical-lr;
        position: absolute;
        z-index: -1;
        opacity: .1;
        top: 0;
        right: 0;
    }

    &__contents{
        margin-top: 100px;
    }

    &__title{
        h1{
            font-size: rem(50);
            font-weight: bold;

            @include mq("sp"){
                text-align: center;
            }
        }
    }

    &__wrap{
        margin-top: 100px;
    }

    &__sub-title{

        h2{
            font-size: rem(32);
            font-weight: bold;

            @include mq("tab"){
                font-size: rem(28);
            }

            @include mq("sp"){
                text-align: center;
                font-size: rem(22);
            }
        }
    }

    &__read{
        margin: 50px auto 0 auto;
        padding: 0 150px;

        @include mq("tab"){
            margin: 70px auto 0 auto;
            padding: 0 100px 0 0;
        }

        @include mq("sp"){
            margin: 50px auto 0 auto;
            padding: 0;
        }

        p{
            font-size: rem(16);
            font-weight: bold;
            margin-bottom: 20px;

            @include mq("tab"){
                font-size: rem(15);
            }

            @include mq("sp"){
                font-size: rem(13);
                line-height: 2.3em;
                text-align: center;
            }
        }
    }
}