.link{
    a{
        color: #333333;
        background: #ffffff;
        border: solid 1px #333;
        padding: 20px 0;
        width: 120px;
        display: inline-block;
        text-align: center;
        line-height: 1em;
    }
}

