html{
    font-size: 100%;
}

body{
    line-height: 1.6;
	overflow-x: hidden;
    background: #ffffff;
	color: #000;
    letter-spacing: .01em;
    transition: all 0.5s ;
    box-sizing: border-box;
}

img{
    width: 100%;
    vertical-align: bottom;
}

//横幅環境設定
$width-base: 1200px;
$width-main: 800px;
$width-side:360px;

//フォント環境設定
$font-base: Sans-Serif;
$font-sub: serif;

//カラー環境設定
$color-main: #ffff00;
$color-sub: #fff;
$color-font: #333;
