.about{

    margin-top: 200px;

    @include mq("sp"){
        margin-top: 0;
    }

    &__contents{
        display: flex;
        justify-content: center;
        align-items: center;

        @include mq("sp"){
            flex-direction: column;
        }
    }

    &__info{
        width: 50%;
        margin: 0 auto;
        padding: 0 30px;

        @include mq("sp"){
            width: 100%;
            text-align: center;
        }

    }

    &__title{

        padding-bottom: 20px;
        position: relative;

        &::after{
            position: absolute;
            content: "";
            height: 2px;
            width: 180px;
            background: #333;
            left: 0;
            bottom: 0;

            @include mq("sp"){
                width: 0;
            }
        }
        h2{
            font-size: vw(42);
            font-weight: bold;
            transition: all .3s;

            @include mq("sp"){
                font-size: vw(80);
            }

        }
    }

    &__text{
        margin-top: 50px;

        @include mq("sp"){
            margin-top: 20px;
        }
        p{
            font-weight: bold;
            line-height: 1.8em;
            transition: all .3s;
            font-size: rem(17);

            @include mq("sp"){
                font-size:  rem(15);
            }
        }
    }

    &__img{
        width: 50%;
        height: 80vh;
        background-image: resolve('img/about.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        @include mq("sp"){
            margin-top: 20px;
            width: 120%;
            height: 40vh;
        }
    }
}