.business{
    position: relative;
    margin-top: 600px;

    @include mq("tab"){
        margin-top: 400px;
    }

    &::before{
        position: absolute;
        content: "";
        background: #f7f7f7f7;
        width: 70%;
        top: 50px;
        right: 0;
        height: 1300px;
        z-index: -1;
        transition: all .3s;

        @include mq("tab"){
            height: 900px;
        }

    }

    &::after{
        content: "BUSINESS";
        font-size: rem(240);
        font-weight: bold;
        writing-mode: vertical-lr;
        position: absolute;
        z-index: -1;
        opacity: .1;
        top: 40%;
        left: 0;

        @include mq("tab"){
            font-size: vw(200);
        }
    }

    &__title{

        h2{
            text-align: end;
            font-size: rem(64);
            font-weight: bold;
            transition: all .3s;

            @include mq("tab"){
                font-size: vw(72);
            }

            @include mq("sp"){
                text-align: center;
            }
        }

        p{
            font-weight: bold;

        }
    }

    &__items{
        @include mq("sp"){
            margin-top: 70px;
        }
    }

    &__item{
        display: flex;
        align-items: center;
        margin-bottom: 80px;

        @include mq("sp"){
            flex-direction: column;
        }

        &:nth-child(even){
            flex-direction: row-reverse;

            @include mq("sp"){
                flex-direction: column;
            }
        }
        p{
            width: 50%;
            font-size: rem(17);
            font-weight: 700;
            padding: 0 70px;
            line-height: 2.1em;
            transition: all .3s;

            @include mq("tab"){
                font-size: vw(20);
                padding: 0 40px;
            }

            @include mq("sp"){
                width: 100%;
                margin-top: 30px;
                font-size: rem(15);
                padding: 0;
            }
        }
    }

    &__img{
        width: 50%;

        @include mq("sp"){
            width: 100%;
        }
    }

    &__link{
        text-align: end;
        margin-right: 60px;

        @include mq("sp"){
            margin-right: 0;
            text-align: center;
        }
        a{
            display: inline-block;
            position: relative;
            font-size: rem(18);
            line-height: 3.5em;
            font-weight: bold;
            padding: 0 40px;
            border: 1px solid #333;
            transition: all .3s;
            
            @include mq("sp"){
                font-size: rem(13);
            }

            &::after{
                content: '';
                position: absolute;
                z-index: -1;
                bottom: 0;
                left: 0;
                width: 0;
                height:100%;
                background:#00c9e8;;
                transition:all .5s;
                opacity: 0;
            }

            &:hover::after{
                width: 100%;
                opacity: 1;
            }

            &:hover{
                color: #fff;
                border: none;
            }
        }
    }
}