.hero{
    height: 600px;
    position: relative;

    h1{
        position: absolute;
        transform: translate(-50%,-50%);
        font-size: vw(210);
        font-weight: bold;
        right: -10%;
        top: 32%;
        background-clip: text;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        color: transparent;
        background-image: resolve('img/hero.jpg');
        background-size: cover;
        background-position: center;
        writing-mode: vertical-rl;

        @include mq("sp"){
            right: -90px;
        }
    }

    &__meta{
        display: flex;
    }

    &__wrapper{
        margin-top: 100px;

        @include mq("sp"){
            margin-top: 140px;
        }

    }

    &__text{

        p{
            font-size: rem(18);
            font-weight: bold;
            color: #000;
            transition: all.3s;

            @include mq("tab"){
                font-size: vw(20);
            }

            @include mq("sp"){
                font-size: vw(30);
            }
        }
    }

    &__title{
        margin-bottom: 20px;

        h2{
            font-size: vw(50);
            font-weight: bold;
            span{
                display: inline-block;
                overflow: hidden;
            }
            transition: all.3s;

            @include mq("tab"){
                font-size: vw(40);
            }

            @include mq("sp"){
                font-size: vw(65);
            }
        }
    }
}