.news{
    margin-top: 700px;
    position: relative;

    @include mq("tab"){
        margin-top: 600px;
    }

    &::before{
        position: absolute;
        content: "";
        background-image: url('../img/news.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 80%;
        height: 440px;
        top: -390px;
        z-index: -1;

        @include mq("tab"){
            height: 300px;
            top: -250px;
        }
    }

    &__wrap{
        text-align: center;
    }

    &__title{
        display: inline-block;
        h2{
            font-size: rem(64);
            font-weight: bold;
            text-align: center;
            transition: all .3s;
            
        }
    }

    &__info{
        display: flex;
        color: #999;
        font-size: rem(14);
        transition: all .3s;

        @include mq("tab"){
            font-size: rem(12);
        }

        time{
            margin-right: 20px;
        }
    }

    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        margin-top: 100px;
    }

    &__item{
        width: calc(33.33333333% - 24px * 2 / 3);
        margin-right: 24px;
        margin-top: 24px;

        &:nth-child(3n) {
            margin-right: 0;
        }

        @include mq("sp"){
            width: calc(50% - 24px * 1 / 2);
            margin-bottom: 40px;

            &:nth-child(2n){
                margin-right: 0;
            }

            &:nth-child(3n){
                margin-right: 24px;
            }
        }
    }

    &__meta{
        margin-top: 20px;
    }

    &__desc{
        margin-top: 20px;

        @include mq("tab"){
            margin-top: 10px;
        }
        p{
            font-size: rem(14);
            font-weight: bold;
            line-height: 1.7em;
            transition: all .3s;

            @include mq("tab"){
                font-size: rem(12);
                line-height: 1.8em;
            }
        }
    }

    &__link{
        text-align: end;
        margin-top: 30px;

        @include mq("sp"){
            margin-top: 70px;
            text-align: center;
            
        }
        a{
            display: inline-block;
            position: relative;
            font-size: rem(18);
            line-height: 3.5em;
            font-weight: bold;
            padding: 0 40px;
            border: 1px solid #333;
            transition: all .3s;

            @include mq("sp"){
                font-size: rem(13);
            }

            &::after{
                content: '';
                position: absolute;
                z-index: -1;
                bottom: 0;
                left: 0;
                width: 0;
                height:100%;
                background:#00c9e8;
                transition:all .5s;
                opacity: 0;
            }

            &:hover::after{
                width: 100%;
                opacity: 1;
            }

            &:hover{
                color: #fff;
                border: 1px #fff solid;
            }
        }
    }
}